<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
</head>

<body>


<p style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Bismillah_Hir_Rahman_Nir_Raheem.svg" alt="" width="302" height="85" /></p>
<p style="text-align: center;"><strong>HAFIZ - DEVELOPMENT PLATFORM [HOME]&nbsp;</strong></p>
<hr />


</body>
</html>

