<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
</head>

<body>
<br>
<p style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Bismillah_Hir_Rahman_Nir_Raheem.svg" alt="" width="302" height="85" /></p>
<p style="text-align: center;"><strong>HAFIZ INTERNAL SYSTEM LOGIN&nbsp;</strong></p>
<hr />

<p style="text-align: center;">

<label for="model-select">User:</label>

<select name="username" id="username">
  <option value="Amr">Sister Sally</option>
  <option value="Amr">Sister Nour </option>
  <option value="Amr">Amr </option>
  <option value="Ahmad">Muhammad Ahmad</option>
  <option value selected="Fatih">Fatih</option>
  <option value="Abdul">Abdul</option>
  <option value="Omer">Omer</option>

</select>
</p>

<p style="text-align: center;">


<label for="password">Password: </label>
<input type="password">

</p>

</body>
</html>